files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_set_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R webapp:webapp /var/app/current
      chmod -R 755 /var/app/current

commands:
  01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  02_npm_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"

container_commands:
  01_install_dependencies:
    command: "npm install"
  02_build:
    command: "npm run build"
