files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_set_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R webapp:webapp /var/app/current
      chmod -R 755 /var/app/current

commands:
  01_set_permissions:
    command: /opt/elasticbeanstalk/hooks/appdeploy/pre/01_set_permissions.sh
